:root{
    --Softred: hsl(7, 99%, 70%);
    --Yellow: hsl(51, 100%, 49%);
    --graphicDesignText: hsl(167, 40%, 24%);
    --PhotographyText: hsl(198, 62%, 26%);
    --footer: hsl(168, 34%, 41%);
    --Verydarkdesaturatedblue: hsl(212, 27%, 19%);
    --Verydarkgrayishblue: hsl(213, 9%, 39%);
    --Darkgrayishblue: hsl(232, 10%, 55%);
    --Grayishblue: hsl(210, 4%, 67%);
    --White: hsl(0, 0%, 100%);
    --h1: 50px;
    --h2: 40px;
    --h3: 30px;
    --h4: 20px;
    --h5: 15px;
    --h5: 10px;
    --barlow: 'Barlow', sans-serif;
    --fraunces: 'Fraunces', serif;
}
body{
    display: grid;
    width: 100vw;
    margin: 0;
}

.hamburguerMenu{
    display: none;
    border:none;
    background: none;
}

header{
    background-image: url(./images/desktop/image-header.jpg);
    background-size: cover;
    height: 800px;
    width: 100%;
    color: var(--White);
}

a{
    text-decoration: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    margin: 50px;
}

.menuList{
    display: flex;
    align-items: center;
}

.menuListItem{
    color: var(--White);
    font-family: var(--barlow);
    margin:20px;
    font-size: 16px;
}

.contact{
    width: 130px;
    height: 50px;
    border-radius: 30px;
    background-color: var(--White);
    display: inline-block;
    box-sizing: border-box;
    margin: auto;
    text-transform: uppercase;
    font-family: var(--fraunces);
    color: var(--Verydarkdesaturatedblue);
    text-align: center;
    line-height: 3;
    font-weight: 700;
}

.contact:hover {
    background-color: rgba(255, 255, 255, 0.397);
    color:var(--White);
}


h1{
    text-transform: uppercase;
    text-align: center;
    font-size: var(--h1);
    font-family: var(--fraunces);
    letter-spacing: 8px;
    margin-top: 80px;
}

header>div{
    display: flex;
    justify-content: center;
    margin-top: 140px;
}
.arrow{
    height: 120px;
}

section.image{
    display:grid;
    grid-template-columns: 1fr 1fr;
}


.mesh.text{
    margin: 150px 150px 0px 150px;
    box-sizing: border-box;
}

.mesh>h2{
    color: var(--Verydarkdesaturatedblue);
    font-size: var(--h2);
    font-family: var(--fraunces);
    margin-right: 50px;
}

.mesh>p{
    font-size: 15px;
    line-height: 1.8em;
    font-family: var(--barlow);
    color: var(--Darkgrayishblue);
}

.mesh > a{
    text-transform: uppercase;
    font-weight: 900;
    color: var(--Verydarkdesaturatedblue);
    font-size: 14px;
    letter-spacing: 2px;
    font-family: var(--fraunces);

}

.image .divider{
    width: 130px;
    border-bottom: solid 8px;
    margin: 0;
}

.mesh.it .divider{
    border-color:  hsl(51, 100%, 49%,0.4);;
}
.mesh.it .divider:hover{
    border-color:  hsl(51, 100%, 49%);
}

.mesh.iso .divider{
    border-color: hsl(7, 99%, 70%,0.4);
}
.mesh.iso .divider:hover {
    border-color: hsl(7, 99%, 70%);
}

.image .imgbackground.gd{
    background-image: url(./images/desktop/image-graphic-design.jpg);
    background-repeat: no-repeat;
}

.image .imgbackground.ph{
    background-image: url(./images/desktop/image-photography.jpg);
    background-repeat: no-repeat;
}
.imgbackground>h3 {
    text-align: center;
    margin: 400px 200px 0px ;
    font-size: var(--h3);
    font-weight: 700;
    font-family: var(--fraunces);
}
.imgbackground>p {
    text-align: center;
    margin: 30px 200px 0px ;
    font-weight: 400;
    font-family: var(--barlow);
}

.gd>h3, .gd>p{
    color: var(--graphicDesignText);
}

.ph>h3, .ph>p{
    color: var(--PhotographyText);
}

.testimonials{
    display: flex;
    flex-direction: column;
    text-align: center;
}

h4{
    margin: 150px 150px 70px;
    text-transform: uppercase;
    font-size: var(--h4);
    font-family: var(--fraunces);
    letter-spacing: 6px;
    color: var(--Grayishblue);

}

.testimonialList{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 150px;
}

.clientTestimonial img{
    border-radius: 50%;
    width: 70px;

}

.clientTestimonial p{
    text-align: center;
    font-weight: 400;
    font-family: var(--barlow);
    width: 310px;
    line-height: 1.8;
    margin: 15px;
}

.gallery{
    display: grid;
    width: 100vw;
    grid-template-columns : repeat(4,1fr);
}

.gallery img{
    margin: 0;
}

h5{
    color: black;
    font-family: var(--fraunces);
    margin:80px auto 5px;
}

h6{
    margin:5px;
    font-family: var(--barlow);
    color: var(--Grayishblue);
}

footer{
    background-color: hsl(167, 50%, 66%);
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--footer);
}

footer .logo svg path, footer .logo{
    fill: var(--footer);
    margin:40px;
}


footer div:nth-child(2) a{
    color: var(--footer);
    font-size: 20px;
    font-family: var(--barlow);
    margin: 30px;
    font-weight: 500;
}

footer div:nth-child(3) a{
    margin: 10px;
}

footer div:nth-child(3) {
    margin: 80px auto 0px;
}

footer div a:hover svg path, footer div a:hover  {
    fill: white;
    color: white;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (max-width: 800px){

    
    .menuList{
        background: var(--White);
        display: none;
        flex-direction: column;
        width: 300px;
        position: fixed;
        right: 50px;
        top: 100px;
    }

    .contact{
        background:var(--Yellow);
        color: var(--Verydarkdesaturatedblue);
        margin-bottom: 20px;
    }

    .menuList a{
        color:var(--Darkgrayishblue)
    }


    .hamburguerMenu{
        display: block;
    }

    header{
        background: url(./images/mobile/image-header.jpg);
        background-repeat: no-repeat;
        height:1000px;
    }

    h1{
        margin-left: 50px;
        margin-right: 50px;
    }

    header>div{
        margin-top: 350px;
    }

    section.image{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    .mesh.text {
        margin: 50px 170px;
        box-sizing: border-box;
        text-align: center;
    }

    .image .imgbackground.gd{
        background-image: url(./images/mobile/image-graphic-design.jpg);
    }

    .image .imgbackground.ph{
        background-image: url(./images/mobile/image-photography.jpg);
    }

    h4{
        margin: 80px 50px 70px;
    }

    .testimonialList{
        flex-direction: column;
        margin-bottom: 10px;
    }

    .clientTestimonial{
        flex-direction: column;
        display: flex;
        align-items: center;
    }

    h5{
        margin-top: 10px;
    }

    h6{
        margin-bottom: 40px;
    }
}
